.VPHero .name {
  line-height: 1.4 !important;
  margin-bottom: 1rem;
  padding-bottom: 0.2em; 
  display: inline-block;
}

.VPHero .tagline {
  opacity: 0.9;
}

.VPFeature .icon {
  width: var(--vp-feature-icon-size) !important;
  height: var(--vp-feature-icon-size) !important;
  margin: 0 auto 6px auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 30%;
  background: var(--vp-c-bg-soft);
  padding: 2px;
}

